
<!-- Cart  -->

<section class="section section__edit___profile">
  <h3 class="profile__heading">Edit Profile</h3>
  <div class="profile__container">

    <div class="profile__box profile__box__1">
      <div class="user__avatar">
        <img src="<%= Product.last.attachments.first%>"  alt="User Avatar" class="user__photo">
        <span class="edit__box"><i class="fa fa-pencil"></i></span>
      </div>
    </div>
    <div class="profile__box profile__box__2">
      <form action="#" class="edit__profile__form">
        <input type="text" name="#" id="" class="input__field" value="Zahid Hanif">
        <input type="email" name="#" id="" class="input__field" placeholder="Email Address">
        <input type="tel" name="#" id="" value="000-0000-00000000">
        <button type="submit" class="btn__update">Update Profile</button>
      </form>
    </div>
  </div>
</section>