<!-- Footer Section -->
<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo"><%=I18n.t("my_appointment") %></h1>

    <h2>Contact</h2>

    <address>
      North America, FL street 229 EB<br>

      <!-- <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a> -->
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Categories</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Shops</a>
        </li>

        <li>
          <a href="#">Hospitals</a>
        </li>

        <li>
          <a href="#">Beauty shops</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Quick Links</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About</a>
        </li>

        <li>
          <a href="#">Services</a>
        </li>

        <li>
          <a href="#">Contact</a>
        </li>

        <li>
          <a href="#">Sell online</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Rights & Rules</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2019 Something. All rights reserved.</p>

    <!-- <div class="legal__links">
      <span>Appointment builders |  Available everytime and everywhere</span>
    </div> -->
  </div>
</footer>






